.form-inline {
  display : flex;
}
.navbar-brand {
  padding-left: 10px;
  padding-right:500px;
  font-size : 30px;
}
.navitem {
  padding: 20px;
  font-size : 20px;
}

.login,.register {
  display : table;
  padding-left : 30px;
}
.row {
  display:table-row;
}
.input-group-prepend,.row {
  width : 130px;
}
.input-header {
  font-size : 25px;
  padding-bottom : 10px;
}

.search {
  padding : 10px;
}

.register-switch{
  padding : 20px 0;
}